include *.txt
include setup.py
include makediary/*.py
include bin/makediary
include man/makediary.1.gz
include eps/vi/vi.???.tex
include eps/vi/vi.???.eps
include eps/unix/unix.tex
include eps/unix/unix.eps
include eps/sh/sh.tex
include eps/sh/sh.eps
include eps/units/units.tex
include eps/units/units.eps

