Source: makediary
Section: utilities
Priority: optional
Maintainer: Russell Steicke <russells@adelie.cx>
Build-Depends-Indep: debhelper (>> 3.0.0), python-dev (>= 2.3), perl
Standards-Version: 3.5.2

Package: makediary
Architecture: all
Depends: ${shlibs:Depends}, python (>= 2.3),
 python-egenix-mxdatetime, python-imaging
Suggests: psutils
Description: Program to generate PostScript year diaries
 makediary generates PostScript code that prints a year diary.  The
 diary can be on one of several different paper sizes (or can be a
 particular page size within a larger paper size), and can have
 several different types of front matter pages (address pages, year
 planners etc).

